<div class="container">
<h1>Aree Naturali</h1>
<table class="table-responsive">
  <thead class="thead-light">
    <tr>
      <th scope="col">Area</th>
      <th scope="col">Città</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let area of areeNaturali">
      <td>{{area.name}}</td>
      <td>{{area.city}}</td>
      <td><button class="btn default"><img src="../../../assets/images/edit-24px.svg"></button></td>
      <td><button class="btn default"><img src="../../../assets/images/delete-24px.svg"></button></td>
    </tr>
  </tbody>
</table>
</div>