<div class="container">

    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style='margin-top: 5px;'>
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" (click)="showOnlyAreeNaturali()" class="btn btn-success">AreeNaturali</button> 
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Second group">
            <button type="button" (click)="showOnlyStrutture()" class="btn btn-secondary">StruttureRicettive</button>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Third group">
            <button type="button" (click)="showOnlyRistori()" class="btn btn-warning">Ristori</button>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Fourth group">
            <button type="button" (click)="showOnlyItinerari()" class="btn btn-deep-orange" style="background-color: rgb(255, 136, 0);">Itinerari</button>
        </div>
        <div class="btn-group" role="group" aria-label="Fifth group">
            <button type="button" (click)="showAll()" class="btn btn-outline-primary">Tutti i marker</button>
        </div>
      </div>

    
    <div class="map" #map id="map" style="width: 100%; height: 532.2px; margin-top: 10px;"></div>
</div>