<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-betweem" >
  <a class="navbar-brand" href="/areenaturali">
    <img src="https://static.thenounproject.com/png/156400-200.png" alt="" width="40px" >
  </a>
  
  <button class="navbar-toggler" type="button"  (click)="toggleNavbar()" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav" [ngClass]="{'show':navbarOpen}">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/areenaturali" routerLinkActive="active">AreeNaturali <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ricerca" routerLinkActive="active">Ricerca</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/itinerarymaker">ItineraryMaker</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link"  routerLink="/login">Login</a>
      </li>
    </ul>
  </div>
</nav>