<div class="container">
  <h1>Ristori</h1>
  <table class="table-responsive">
    <thead class="thead-light">
      <tr>
        <th scope="col">Ristoro</th>
        <th scope="col">Last</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let rist of ristori">
        <td>{{rist.name}}</td>
        <td>{{rist.city}}</td>
        <td><button  (click)="goEdit(rist)"><img src="../../../assets/images/edit-24px.svg"></button></td>
      <td><button (click)="deleteRistoro(rist.id)" class="btn default"><img src="../../../assets/images/delete-24px.svg"></button></td>
      </tr>
    </tbody>
  </table>
  </div>