<!-- Page Content -->
<div class="container">

  <!-- Heading Row -->
  <div class="row align-items-center my-5">
    <div class="col-lg-7">
      <img class="img-fluid rounded mb-4 mb-lg-0" src="https://it.agriturismo.net/images/navigazione/regione/toscanaMobile.jpg" alt="">
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-5">
      <h1 class="font-weight-light">Aree Naturali Della Toscana</h1>
      <p>In questa pagina troverai le aree naturali selezionate dalla Regione Toscana.</p>
      <!-- <a class="btn btn-primary" href="#">Call to Action!</a> -->
    </div>
    <!-- /.col-md-4 -->
  </div>
  <!-- /.row -->

  <!-- Content Row -->
  <div class="row justify-content-md-center" >

    <div class="col-md-4 mb-5" *ngFor= "let areaNaturale of areeNaturali;let i=index">
      <div class="card h-100"  *ngIf="i<3">
        <div class="card-body">
          <h2 class="card-title">{{areaNaturale.name}}</h2>
          <p class="card-text">{{areaNaturale.description}}</p>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary btn-sm" [routerLink]='["/detail/",areaNaturale.latitude]'  [queryParams]="areaNaturale">More Info</a>
        </div>
      </div>

    </div>
    

  </div>
  <!-- /.row -->

</div>
