<div class="container">

  <div class="card " style="margin-bottom: 160px; margin-top: 60px;">
    <div class="card-header text-center">
      <h2>Add New Ristoro</h2>
    </div>
    <div class="card-body">
           
      <form #theForm="ngForm" style="margin: 2px;" (ngSubmit)="submitForm(theForm.form);">
        <label>Name: 
            <input class="form-control" placeholder="{{name}}" type="text" ngModel name="name" value="{{name}}" style="width: min-content;">
        </label><br>
       
      <label>City:
        <input list="cities" class="form-control" placeholder="{{city}}" type="text" ngModel name="city"  value="{{city}}" style="width: min-content;">
      </label><br>
      <label>Province
        <input class="form-control" placeholder="{{province}}" type="text"  value ="{{province}}" ngModel name="province"  style="width: min-content;">
      </label><br>
      
      <label>Latitude: 
        <input class="form-control" placeholder="{{latitude}}" type="number" step="0.01" ngModel name="latitude"  value="{{latitude}}" style="width: min-content;">
      </label><br>
      <label>Longitude: 
        <input class="form-control" placeholder="{{longitude}}" type="number" step="0.01" ngModel name="longitude"  value="{{longitude}}"  style="width: min-content;">
      </label><br>

      <label>Email
        <input placeholder="{{email}}" type="text" class="form-control" name="email" ngModel style="width: min-content;">
      </label><br>
      <label>phonenumber
        <input placeholder="{{phonenumber}}" type="text" class="form-control" name="phonenumber" ngModel style="width: min-content;">
      </label><br>
      
      <label><br>Ristoro Tipology:<br>
      
        <input [checked]="'BOTTEGA'==defaultChoice" type="radio" id="BOTTEGA" ngModel name="ristorotypology" value="BOTTEGA">
        <label>BOTTEGA</label><br>

        <input [checked]="'RISTORANTE'==defaultChoice" type="radio" id="RISTORANTE" ngModel name="ristorotypology" value="RISTORANTE">
        <label>RISTORANTE</label><br>

      </label><br>
        <button class="btn btn-primary" type="submit" >Submit</button>
      </form>

      
    </div>
    <div class="card-footer">
      <div class="card-footer">
        <button *ngIf="canAssociaAdmin" class="btn btn-primary" (click)="associaAdmin()" >Associa Admin</button>
      </div>
    </div>
  
  </div>
  <div style="margin-bottom: 100px;"> </div>


